body {
    overflow-y: overlay !important;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.active {
    background-color: #266fa0 !important;
    border-color: #266fa0 !important;
}

.page-item.active 
.page-link {
    z-index: 3;
    color: #fff;
    background-color: #fcc716;
    border-color: #fcc716;
}

.active {
    background-color: #fcc716 !important;
    border-color: #fcc716 !important;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #fcc716;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

#map {
    height:400px;
    width:100%;
  }
